/* Hero Section */
.hero {
    background-color: var(--level-1);
    padding: 50px 0;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 5%; /* Adjust gap as needed */
    flex-wrap: wrap; /* Ensure content wraps on smaller screens */
}

.hero-image {
    flex: 1;
    text-align: left;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero-text {
    flex: 1;
}

.hero-text h2 {
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 24px;
    font-weight: regular;
}

@media (max-width: 768px) {
    .hero-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero-content {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
    }

    .hero-image, .hero-text {
        flex: unset;
    }

    .hero-text h2 {
        font-size: 48px;
    }

    .hero-text p {
        font-size: 18px;
    }
}
