/* Testimonials Section */
.testimonials {
    background-color: var(--base);
    padding: 50px 0;
}

.testimonials-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.testimonials-header {
    width: 30%;
    text-align: left;
}

.testimonials-header h2 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 40px;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 65%;
    margin-left: auto;
}

.testimonial {
    background: var(--level-1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.testimonial img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.testimonial p {
    font-size: 18px;
    font-weight: regular;
    margin-bottom: 10px;
}

.testimonial span {
    font-size: 16px;
    font-weight: regular;
    font-style: italic;
    color: var(--light-grey);
}

@media (max-width: 768px) {
    .testimonials-container {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }

    .testimonials-header, .testimonial-cards {
        width: 100%;
    }

    .testimonial-cards {
        grid-template-columns: 1fr; /* Stack items vertically */
    }

    .testimonials-header h2 {
        font-size: 32px;
        text-align: center;
    }
}
